mat-form-field, .custom-file {
  display: block;
}

.custom-file {
  margin-top: 0.5rem;
}

.video, .video video {
  margin: 1rem 0;
  width: 100%;
  min-width: 400px;
  aspect-ratio: 16/9;
}

.select-input {
  padding: 1rem;
  padding-bottom: 0;
}

.boton-upload {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.espacio {
  height: 100px;
}

.loading {
  display: flex;
}

.loading p {
  margin: 0;
  margin-right: 0.5rem;
}

:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
  animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes custom-progress-spinner-color {
  100%,
  0% {
      stroke: #16697A;
  }
  40% {
      stroke: #489FB5;
  }
  66% {
      stroke: #82C0CC;
  }
  80%,
  90% {
      stroke: #16697A;
  }
}

@keyframes custom-progress-spinner-dash {
  0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
  }
  50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
  }
  100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
  }
}

.none {
  display: none;
}

.custom-file{
  margin-bottom: 15px;
  margin-top: 25px;
}
.portada-text{
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.imagen {
  width: 300px;
  height: 200px;
  margin-left: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1); /* Agrega un color de fondo opcional para resaltar el contenedor */
}

.portada-imagen {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajuste de la imagen para cubrir completamente el contenedor */
}
