<h3>{{ video?.id ? 'Actualizar' : 'Subir' }} video</h3>
<hr>

<div class="formulario">
    <p class="portada-text">Elige la portada de tu video</p>
    <form
        [formGroup]="miFormulario"
        #formulario
        (submit)="agregarVideo()"
        autocomplete="off" >

        <div class="imagen">
            <img [src]="url" alt="Foto de carrera" *ngIf="format === 'image' && url" class="portada-imagen">
        </div>

        <!-- Input File -->
        <div class="custom-file">
            <input
                #inputFile
                type="file"
                class="form-control"
                formControlName="file"
                accept="image/png, image/jpg, image/*"
                (change)="selectFile($event)">
        </div>

        <div class="porcentaje" *ngIf="currentFileUpload && visible">

            <div class="alert alert-info loading">
                <p>Cargando imagen...</p>
                <p-progressSpinner
                    [style]="{width: '20px', height: '20px'}"
                    styleClass="custom-spinner"
                    strokeWidth="8"
                    animationDuration=".5s">
                </p-progressSpinner>
            </div>

            <div class="progress mt-2">
                <div
                    class="progress-bar progress-bar-striped"
                    role="progressbar"
                    attr.aria-valuenow="{{ percentage }}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    [ngStyle]="{ width: percentage + '%' }"
                    [ngClass]="{
                        'bg-success': percentage > 70,
                        'bg-info': percentage > 40 && percentage < 70,
                        'bg-warning': percentage > 20 && percentage < 40,
                        'bg-danger': percentage > 0 && percentage < 20
                    }"
                    >
                    {{ percentage }}%
                </div>
            </div>

        </div>

        <!-- Input título -->

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Título del video</mat-label>
            <input
                type="text"
                matInput
                formControlName="title"
                placeholder="Ex. Leyes de Newton">
            <mat-error *ngIf="campoNoValido('title')">
                El campo del título es <strong>obligatorio</strong>
            </mat-error>
        </mat-form-field>

        <!-- Input URL Youtube -->

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Enlace de Youtube</mat-label>
            <input
                type="text"
                matInput
                formControlName="url"
                placeholder="https://www.youtube.com/watch?v=mOMcoXp1GRw">
            <mat-error *ngIf="campoNoValido('url')">
                El campo del url es <strong>obligatorio</strong>
            </mat-error>
        </mat-form-field>




        <!-- Input Materia -->

        <mat-form-field>
            <mat-label>Materia</mat-label>
            <mat-select
                placeholder="Materia"
                formControlName="course"
                [compareWith]="compareObjects"
                (closed)="limpiarBuscador()">
                <mat-form-field class="select-input">
                    <mat-label>Buscador</mat-label>
                    <form autocomplete="off">
                        <input
                            #txtBuscar
                            matInput type="text"
                            placeholder="Buscar Materia"
                            (keyup)="filtrarMaterias($event)"
                        >
                    </form>
                </mat-form-field>

                <mat-option *ngFor="let materia of materias" [value]="materia">
                    {{ materia.name }}
                </mat-option>

                <mat-option *ngIf="materias?.length == 0" disabled>
                    No existe ninguna materia, cree una en <b>Materias</b>
                </mat-option>

            </mat-select>
            <mat-error *ngIf="campoNoValido('course')">
                El campo de materia es <strong>obligatorio</strong>
            </mat-error>
        </mat-form-field>

          <!-- Keywords -->

          <div class="chips">
            <label for="keywords">Palabras clave</label>
            <p-chips
                formControlName="keywords">
            </p-chips>
        </div>
        <small
            *ngIf="campoNoValido('keywords')"
            class="text text-danger">
            Escriba por lo menos <strong>1</strong> palabra clave
        </small>

        <div class="boton-upload">

            <button
                pButton
                type="submit"
                [label]="video?.id ? 'Actualizar video' : 'Subir video'"
                icon="pi pi-cloud-upload"
                iconPos="left"
                class="p-button-raised">
            </button>
        </div>

    </form>
</div>

<div class="espacio"></div>
