.materias {
    padding: 2.5rem 0;
    display: grid;
    gap: 1rem; 
    grid-template-columns: repeat( auto-fill, minmax(25rem, 1fr) ); 
}

.texto-negrita {
    font-weight: bold;
}

.tags {
    font-size: 0.8rem;
    background-color: #9b59b6;
    color: #FFFFFF;
    margin: 0 0.25rem;
    padding: 0.25rem 0.5rem;
    border-radius: 15px;
    line-height: 45px;
    font-weight: 400;
}

.link {
    color: var(--primario);
}

.paginator{
    margin-bottom: 1rem;
}

.breadcrumb {
    background-image:url('/assets/videos/breadcrumb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: center;
}

.title {
    border-left: 5px solid var(--blanco);
}

.title p {
    font-size: 2rem;
    font-weight: 500;
    color: #FFFFFF;
    padding-left: 1.5rem;
}

.buscador {
    max-width: 25rem;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #CDCDCD;
    margin-top: 2rem;
    padding-bottom: 0.5rem;
}

.buscador input, .buscador input:focus  {
    background-color: transparent;
    border: none;
    outline: none;
    
}

.buscador mat-icon {
    color: #797979;
}

.alert {
    margin-top: 2rem;
}