.login {
  background-image:url('/assets/auth/login/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--separacion) 0;
}

@media (min-width: 768px){
  .login {
      height: 100vh;
  }
}

@media (min-width : 1024px) {
  .login {
      justify-content: flex-end;
      padding-right: 20rem;
  }
}

.formulario {
  max-width: 80%;
  height: 100%;
}

@media (min-width : 900px) {
  .formulario {
      width: initial;
  }
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.logo img{
  width: 100%;
}

@media (min-width:768px){
  .logo img{
      width: 70%;
  }
}

.separador {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  text-align: center;
}

.mid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mid p {
  margin: 0;
  color: #47474793;
  font-weight: 300;
}

.campo, .proveedores {
  max-width: 100%;
  width: 500px;
}

.proveedores {
  margin: 2rem 0;
}

.campo input{
  width: 100%;
  border: 1px solid var(--gris-bordes);
  border-radius: 10px;
  margin: 1rem 0;
  padding: 0.3rem 0.5rem;
}

.campo input:focus {
  outline: none !important;
  border:2px solid var(--primario);
}

.label{
  color: var(--blanco);
  font-weight: 400;
  margin: 0;
}

.boton {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.boton-submit {
  background-color: var(--blanco);
}

.boton-submit mat-icon {
  color: var(--primario);
  font-weight: bold;
}

.boton-oauth {
  margin: 1rem 0;
  height: 40px;
  border-radius: 7px;
  border: 1px solid #d0d0d0;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  color: #6a6a6a;
  padding-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proveedores .boton-oauth img {
  margin-right: 10px;
}

.boton-oauth p {
  margin: 0;
  margin-left: 0.5rem;
}


.formulario-footer {
  text-align: center;
  display: block;
  color: var(--blanco);
}

@media (min-width : 768px) {
  .formulario-footer {
      display: flex;
      justify-content: space-around;
  }
}

.formulario-footer p {
  margin: 0;
  align-items: center;
}

.pregunta {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register {
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 1px solid var(--gradiente1);
  border-radius: 10px;
  background-color: #ffffff00;
  color: var(--gradiente1);
  font-weight: 500;
  transition: 0.2s ease-in;
}

@media (min-width: 768px){
  .register {
      margin: 0;
  }
}

.register:hover {
  background-color: var(--gradiente1);
  color: #161616b0;
}

.text-error {
  display: block;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.5rem;
  margin: 0;
}
