<div class="slider">
  <div class="titulo">
    <h5>{{titulo}}</h5>
  </div>
  <swiper 
      [config]="config"
      [spaceBetween]="10"
      [slidesPerView]="1.2"
      [pagination]="true"
      [navigation]="true"
      class="mySwiper"
    >
    <ng-template swiperSlide *ngFor="let carrera of carreras">
      <div class="card" [routerLink]="['/play/carreras',carrera.id]">
        <img [src]="carrera.photo_url" class="card-img-top" [alt]="carrera.name">
        <div class="card-body">
          <p class="card-title">{{carrera.name}}</p>
        </div>
      </div>
    </ng-template>
  </swiper>  
</div>

