<div class="register">
    
    <div class="formulario">

        <div class="logo">
            <img src="./assets/logo.png" alt="">
        </div>

        <p class="titulo">Regístrate</p>

        <form class="formulario-form" [formGroup]="miFormulario" (submit)="register()">

            <div class="row">
                <div class="col-12 col-lg-6 flex-end">
                    <div class="campo">
                        <p class="label">Nombres:</p>
                        <input formControlName="name" type="text">
                        <span 
                            class="text-error alert alert-danger" 
                            *ngIf="campoNoValido('name')"
                            >El campo de nombres es  <b>obligatorio</b>
                        </span>
                    </div>

                    <div class="campo">
                        <p class="label">Correo institucional:</p>
                        <input formControlName="email" type="text">
                        <span 
                            class="text-error alert alert-danger" 
                            *ngIf="campoNoValido('email')"
                            >El campo del correo es  <b>obligatorio</b>
                        </span>
                    </div>

                    <div class="campo">
                        <p class="label">Contraseña:</p>
                        <input formControlName="password" type="password">
                        <span 
                            class="text-error alert alert-danger" 
                            *ngIf="campoNoValido('password')"
                            >El campo de nombres es  <b>obligatorio</b>
                        </span>
                    </div>

                    <div class="campo">
                        <p class="label">Confirmar contraseña:</p>
                        <input formControlName="password2"  type="password">
                        <span 
                            class="text-error alert alert-danger" 
                            *ngIf="campoNoValido('password2')"
                            >Las contraseñas deben ser iguales
                        </span>
                    </div>                    
    
                </div>
    
                <div class="col-12 col-lg-6">
                    <div class="custom-select">
                        <p class="label">Nacionalidad:</p>
                        <select formControlName="country">
                            <option value="" disabled> --Seleccione Pais --</option>
                            <option *ngFor="let pais of paises">{{ pais }}</option>
                        </select>
                        <span 
                            class="text-error alert alert-danger" 
                            *ngIf="campoNoValido('country')"
                            >El campo de nacionalidad es  <b>obligatorio</b>
                        </span>
                    </div>

                    <div class="custom-select">
                        <p class="label">Ciudad de origen:</p>
                        <select formControlName="city">
                            <option value="" disabled> --Seleccione Ciudad --</option>
                            <option *ngFor="let ciudad of ciudades">{{ ciudad }}</option>
                        </select>
                        <span 
                            class="text-error alert alert-danger" 
                            *ngIf="campoNoValido('city')"
                            >El campo de ciudad de origen es  <b>obligatorio</b>
                        </span>
                    </div>
    
                    <div class="custom-select">
                        <p class="label">Género:</p>
                        <select formControlName="genre">
                            <option value="hombre">Hombre</option>
                            <option value="mujer">Mujer</option>
                        </select>
                        <span 
                            class="text-error alert alert-danger" 
                            *ngIf="campoNoValido('genre')"
                            >El campo de genero es  <b>obligatorio</b>
                        </span>
                    </div>

                    <div class="campo">
                        <p class="label">Cédula:</p>
                        <input formControlName="identification_card" type="text">
                        <span 
                            class="text-error alert alert-danger" 
                            *ngIf="campoNoValido('identification_card')"
                            >El campo de cedula es  <b>obligatorio</b>
                        </span>
                    </div>

                    <div class="campo">
                        <p class="label">Nivel educativo:</p>
                        <input formControlName="education_level" type="text">
                        <span 
                            class="text-error alert alert-danger" 
                            *ngIf="campoNoValido('education_level')"
                            >El campo de nivel educativo es  <b>obligatorio</b>
                        </span>
                    </div>
                    
                    <div class="campo">
                        <p class="label">Establecimiento educativo:</p>
                        <input formControlName="institution" type="text">
                        <span 
                            class="text-error alert alert-danger" 
                            *ngIf="campoNoValido('institution')"
                            >El campo del establecimiento es  <b>obligatorio</b>
                        </span>
                    </div>

                </div>
            </div>

            <div class="boton">
                <button type="submit" mat-button class="boton-submit">
                    Registrarse
                    <mat-icon>arrow_forward_ios</mat-icon>
                </button>
            </div>
    
        </form>
        <div class="formulario-footer">
            <div class="pregunta">
                <p>¿Ya tienes una cuenta?</p>
            </div>
            <button routerLink="../login" class="login">Iniciar Sesión</button>
        </div>
    </div>
</div>




