.register {
    background-image:url('/assets/auth/register/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

@media (min-width:992px){
    .flex-end {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .register {
        height: 100vh;
    }
}

.logo img{
    width: 100%;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

@media (min-width:768px){
    .formulario {
        padding: var(--separacion);
    }
}

.titulo {
    color: #FFFFFF;
    font-size: 1.8rem;
    padding: 1rem 0;
}

@media (min-width:768px){
    .titulo {
        font-size: 2.5rem;
    }
}

.formulario-form {
    width: 100%;
}

.campo, .custom-select {
    margin-bottom: 1rem;
}

.campo input, .custom-select select {
    display: block;
    width: 100%;
    border: 1px solid var(--gris-bordes);
    border-radius: 10px;
    margin-top: 1rem 0;
    padding: 0.3rem 0.5rem;
}

.campo input:focus, .custom-select select:focus {
    outline: none !important;
    border:2px solid var(--primario);
}

@media (min-width:992px){
    .campo, .custom-select {
        width: 25rem;
    }
}

.label{
    color: var(--blanco);
    font-weight: 300;
    margin: 0;
}

.boton {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.boton-submit {
    background-color: var(--blanco);
}

.boton-submit mat-icon {
    color: var(--primario);
    font-weight: bold;
}

.formulario-footer {
    text-align: center;
    display: block;
    color: var(--blanco);
}

@media (min-width : 768px) {
    .formulario-footer {
        display: flex;
        gap: 1rem;
        justify-content: space-around;
    }
}

.formulario-footer p {
    margin: 0;
    align-items: center;
}

.pregunta {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border: 1px solid var(--gradiente1);
    border-radius: 10px;
    background-color: #ffffff00;
    color: var(--gradiente1);
    font-weight: 500;
    transition: 0.2s ease-in;
}

@media (min-width: 768px){
    .login {
        margin: 0;
    }
}

.login:hover {
    background-color: var(--gradiente1);
    color: #161616b0;
}

.login {
    cursor: pointer;
}

.text-error {
    display: block;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0.5rem;
    margin: 0.3rem 0 0 0;
}
