.grid {
    margin: 1.5rem 0;
    display: block;
}

@media (min-width:769px){
    .grid {
        display: grid;
        grid-template-columns: 70% 30%;
    }
}

.informacion {
    background-color: var(--blanco);
    border: 1px solid #c7c7c7;
    padding: 2rem;
    margin-bottom: 1.5rem;
}

.titulo, .carreras-relacionadas {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.titulo {
    text-transform: uppercase;
    font-weight: 300;
}

.carreras-relacionadas {
    font-size: 1rem;
    color: #FFFFFF;
    background-color: var(--primario);
}

.informacion-imagen {
    margin: 1rem auto;
    width: 100%;
}

@media (min-width:769px){
    .informacion-imagen {
        width: 70%;
    }
}

.informacion-imagen img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.area-duration {
    margin: 0.5rem 0;
}

.texto-negrita {
    font-weight: bold;
}

.listado-materias {
    padding: 0;
    list-style: none;
}

.listado-materias li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.listado-materias li:nth-child(odd) {
    background-color: var(--primario);
    color: var(--blanco);
}

.listado-materias li:nth-child(even) {
    background-color: #CDCDCD;
    color: var(--negro);
}

.relacionadas {
    padding: 0 2rem;
}

.relacionadas ul {
    list-style: none;
    padding: 0;
}

.carrera{
    margin: 0.5rem 0;
    border-radius: 10px;
    width: 100%;
    height: 200px;
    -webkit-box-shadow: -9px 10px 8px -9px rgba(0,0,0,0.71);
    -moz-box-shadow: -9px 10px 8px -9px rgba(0,0,0,0.71);
    box-shadow: -9px 10px 8px -9px rgba(0,0,0,0.71);
}

.carrera figure {
    width: 100%;
}

.carrera img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
}

.breadcrumb {
    background-image:url('/assets/videos/breadcrumb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: center;
}

.title {
    border-left: 5px solid var(--blanco);
}

.title p {
    font-size: 2rem;
    font-weight: 500;
    color: #FFFFFF;
    padding-left: 1.5rem;
}