<app-header></app-header>
<main class="breadcrumb">
    <div class="container">
      <div class="title">
        <p>{{carrera?.name}}</p>
      </div>
      <app-breadcrumb></app-breadcrumb>
    </div>
</main>
<div class="container">
    <div class="grid">
        <div>
            <main class="informacion">

                <h3 class="titulo">{{carrera?.name}}</h3>

                <div class="informacion-imagen">
                    <img [src]="carrera?.photo_url" [alt]="carrera?.name">
                </div>

                <hr>

                <div class="area-duration">
                    <p><span class="texto-negrita">Área: </span>{{carrera?.area?.name}}</p>
                    <p><span class="texto-negrita">Número de ciclos: </span>{{carrera?.duration}}</p>
                </div>

                <div *ngIf="materias.length > 0">
                    <p class="texto-negrita">Listado de materias:</p>
                    <ul class="listado-materias">
                        <li *ngFor="let materia of materias" [routerLink]="['/play/materias', materia.id]">
                            {{materia.name}}
                            <mat-icon>arrow_right</mat-icon>
                        </li>
                    </ul>
                </div>

            </main>
        </div>


        <aside class="relacionadas">
            <p class="carreras-relacionadas">Carreras Relacionadas</p>
            <ul>
                <li *ngFor="let carrera of carrerasRelacionadas">
                    <div class="carrera" [routerLink]="['/play/carreras', carrera.id]">
                        <figure class="imghvr-fade-up">
                            <img [src]="carrera.photo_url" [alt]="carrera.name">
                            <figcaption class="">
                              <h3 class="ih-fade-down ih-delay-sm">{{carrera.name}}</h3>
                            </figcaption>
                        </figure>
                    </div>

                </li>
            </ul>

        </aside>

    </div>
</div>

<app-footer></app-footer>
