<nav class="navbar" *ngIf="!toolBar" [ngClass]=" { 'gradiente' : !hidden } " >

    <div class="logo">
        <img src="./assets/logo.png" alt="UTPL Play logo" routerLink="../home">
    </div>

    <div class="nav-items">
        <a class="nav-item hvr-underline-from-center" routerLink="/play/home" routerLinkActive="link-activo">Home</a>
        <a class="nav-item hvr-underline-from-center" routerLink="/play/carreras" routerLinkActive="link-activo">Carreras</a>
        <a class="nav-item hvr-underline-from-center" routerLink="/play/materias" routerLinkActive="link-activo">Asignaturas</a>
        <a class="nav-item hvr-underline-from-center" routerLink="/play/herramientas" routerLinkActive="link-activo">Herramientas</a>
        <a class="nav-item hvr-underline-from-center" routerLink="/play/nosotros" routerLinkActive="link-activo">Sobre Nosotros</a>
    </div>

    <div class="perfil-usuario">
        <button
            mat-mini-fab color="primary"
            [matMenuTriggerFor]="menu">
            <mat-icon>person</mat-icon>
        </button>

        <mat-menu
            #menu="matMenu"
            xPosition="before">
            <button *ngIf="claims?.admin || claims?.editor" mat-menu-item routerLink="/admin">
                <mat-icon>admin_panel_settings</mat-icon>
                <span>Dashboard</span>
            </button>
            <button mat-menu-item routerLink="/play/historial">
                <mat-icon>history</mat-icon>
                <span>Historial</span>
            </button>
            <button mat-menu-item routerLink="/play/perfil">
                <mat-icon>account_box</mat-icon>
                <span>Editar perfil</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Cerrar sesión</span>
            </button>
        </mat-menu>

    </div>
</nav>

<nav class="navbar2" *ngIf="toolBar" [ngClass]=" { 'gradiente' : !hidden } ">
    <div class="logo">
        <img src="./assets/logo.png" alt="UTPL Play logo" routerLink="../home">
    </div>
</nav>

<mat-toolbar *ngIf="toolBar">
    <div class="navbar-button">
        <button mat-icon-button (click)="visibleSidebar = true">
            <mat-icon>
                menu
            </mat-icon>
        </button>
    </div>
</mat-toolbar>
<p-sidebar [(visible)]="visibleSidebar" [baseZIndex]="10000">
    <ul class="listado">
        <li *ngFor="let item of menuItems">
          <a class="nav-item2" [routerLink]="item.route">
            <div class="listado-item">
              <mat-icon routerLinkActive="activo" [routerLinkActiveOptions]="{ exact: true }">{{item.icono}}</mat-icon>
              <div class="item-nombre" routerLinkActive="activo" [routerLinkActiveOptions]="{ exact: true }">
                <p>{{item.titulo}}</p>
              </div>
            </div>
          </a>
        </li>
        <li *ngIf="claims?.admin || claims?.editor">
            <a class="nav-item2" routerLink="/admin">
              <div class="listado-item">
                <mat-icon>admin_panel_settings</mat-icon>
                <div class="item-nombre">
                  <p>Dashboard</p>
                </div>
              </div>
            </a>
        </li>
        <li>
            <a class="nav-item2" (click)="logout()">
              <div class="listado-item">
                <mat-icon>logout</mat-icon>
                <div class="item-nombre">
                  <p>Cerrar Sesión</p>
                </div>
              </div>
            </a>
        </li>
    </ul>
</p-sidebar>

