.navbar {
    padding: 0.5rem 3rem;
    width: 100%;
    min-width: 400px;
    margin: auto;
    display: grid;
    grid-template-columns: 80% 20%;
}

@media (min-width: 1400px){
    .navbar {
        padding: 0 7rem;
        grid-template-rows: repeat(3, 1fr);
    }
}

.gradiente {
    background: var(--gradiente1);
    background: -moz-linear-gradient(top,  var(--gradiente1) 0%, var(--gradiente2) 100%); 
    background: -webkit-linear-gradient(top,  var(--gradiente1) 0%,var(--gradiente2) 100%);
    background: linear-gradient(to bottom,  var(--gradiente1) 0%,var(--gradiente2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3c1d2', endColorstr='#bebfcd',GradientType=0 );
}

.navbar2 {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil-usuario {
    display: flex;
    justify-content: flex-end;
    grid-row: 1/2;
    grid-column: 2/3;
}

.nav-items {
    margin: auto;
    grid-row: 2/3;
    grid-column: 1/3;
}

.buscador {
    grid-column: 1/3;
}

@media (min-width:992px){
    .navbar {
        grid-template-columns: 20% 75% 5%;
        grid-template-rows: initial;
    }

    .perfil-usuario {
        grid-area: initial;
    }
    
    .nav-items {
        grid-area: initial;
    }
    
    .buscador {
        grid-area: initial;
    }
}

.logo {
    padding: 1rem;
}

.logo img {
    width: 100%;
}

.nav-item, .nav-item2 {
    padding: 0.5rem 0;
    text-decoration: none;
    cursor: pointer;
    margin: 0 1rem;
    color: var(--blanco);
    font-weight: 400;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

@media (min-width:992px){
    .nav-item, .nav-item2  {
        margin: 0 1rem;
    }
}

.nav-item:hover {
    color: var(--primario);
}

.link-activo {
    color: var(--primario);
    font-weight: bold;
}

.buscador {
    margin-left: 1rem;
}

.buscador span, .buscador input {
    width: 100%;
}

.perfil-usuario button {
    background-color: var(--primario);
    border-color: var(--primario);
}

.perfil-usuario button mat-icon {
    vertical-align: unset;
}

.listado {
    list-style-type: none;
    padding: 0;
}

.listado-item {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    cursor: pointer;
}

.item-nombre p {
    margin: 0;
    margin-left: 0.5rem;
}

.nav-item2 {
    color: var(--negro);
    text-decoration: none;
}

.activo {
    color: var(--primario);
}