.listado {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.listado a {
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 0.5rem;
}

.arrow {
    border: solid #FFFFFF;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.listado-item:last-child i {
    display: none;
}