<app-header></app-header>
<main class="breadcrumb">
    <div class="container">
      <div class="title">
        <p>{{video?.title}}</p>
      </div>
      <app-breadcrumb></app-breadcrumb>
    </div>
</main>
<div class="container">
    <div class="contenedor">
        <div>
            <main class="video">
                <app-video [url]="video?.url || ''"></app-video>
                <p class="titulo">{{video?.title}}</p>
                <div class="informacion">
                    <p><span class="texto-negrita">Fecha de publicación: </span>{{video?.publication_date.toDate() | date:'longDate' }}</p>

                    <button mat-raised-button
                    (click)="toggleLike()"
                    [class.clicked]="liked" class="boton">
                      <mat-icon>favorite</mat-icon>
                      {{ video.likes }}
                  </button>

                  </div>
            </main>
        </div>
        <aside class="videos">
            <h5>Videos Relacionados</h5>
            <ul class="videos-listado">
                <li *ngFor="let video of videos" (click)="cambiarVideo(video.id)">
                    <mat-icon>play_circle</mat-icon>
                    {{video.title}}
                </li>
            </ul>
        </aside>
    </div>
</div>

<app-footer></app-footer>
