.contenedor {
  margin: 2.5rem 0;
}

@media (min-width: 992px){
  .contenedor {
      display: grid;
      gap: 1rem;
      grid-template-columns: 70% 30%;
  }
}

.breadcrumb {
  background-image:url('/assets/videos/breadcrumb.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
}

.title {
  border-left: 5px solid var(--blanco);
}

.title p {
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
  padding-left: 1.5rem;
}

.titulo {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  background-color: var(--primario);
  color: var(--blanco);
  margin: 0;
  padding: 0.5rem;
}

.video video {
  width: 100%;
  aspect-ratio: 16/9;
  background-color: #000000;
}

.videos-listado {
  list-style: none;
  padding: 0;
}

.videos, .informacion {
  background-color: var(--blanco);
  border: 1px solid #c7c7c7;
  padding: 2rem;
  margin-bottom: 1.5rem;
}

.informacion {
  padding: 1rem 2rem;
  display: flex;
}

.videos h5 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.videos-listado li {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  cursor: pointer;
  border-bottom: 1px solid #cdcdcd;
}

.videos-listado li:last-child {
  border-bottom: none;
}

.videos-listado li mat-icon {
  margin-right: 0.5rem;
}

.texto-negrita {
  font-weight: bold;
}

.boton {
  color: #fffaf2;
  background-color: #adedeb;
  margin-left: auto;

}

.boton:hover {
  color: #ffffff;
  background-color: #2099d8;
}

.boton.clicked {
  color: #ffffff;
  background-color: #2099d8;
}
