<app-header></app-header>
<main class="breadcrumb">
    <div class="container">
        <div class="title">
        <p>Sobre Nosotros</p>
        </div>
        <app-breadcrumb></app-breadcrumb>
    </div>
</main>
<div class="container">
    <div class="w-75 mx-auto py-5">
        <div class="pb-4 w-75 mx-auto">
          <iframe width="100%" height="400" src="https://www.youtube.com/embed/tAxnY44bYeE" title="UTPL PLAY / Recursos académicos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <p class="text-justify">
            UTPL PLAY, es una plataforma digital de aprendizaje no restringido, alimentado a través de recursos académicos básicos que permitirán obtener, ampliar o reforzar el conocimiento en diversas áreas o temas de estudio, de manera independiente.
        </p>
        <p class="text-justify">
            A través de esta plataforma, se busca transformar el conocimiento tácito a conocimiento explícito, es decir a una forma comprensible, asimilable y utilizable para los estudiantes de la Universidad Técnica Particular de Loja, apoyándose en distintas herramientas que permitan conseguir este objetivo.
        </p>
        <p class="text-justify">
            La generación de esta plataforma, permitirá optimizar el uso de gran parte del material y recursos educativos elaborados por los docentes de la UTPL, permitiendo que los estudiantes puedan obtener esta información simplificada, de manera rápida y oportuna.
        </p>
        <p class="text-justify">
            Se espera que a futuro todo el conocimiento inmerso en la plataforma, pueda estar al alcance de la comunidad universitaria que la requiera, así los conocimientos podrán ser compartidos a quienes lo requieran en cualquier momento y de acuerdo a las diferentes debilidades académicas personales.
        </p>
    </div>
</div>

<app-footer></app-footer>
