<h3 class="text-center">Listado de videos</h3>

<!-- Modal para previsualización del video -->

<ng-template #modalVideo>

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <app-video [url]="url"></app-video>
        </div>
    </div>

</ng-template>

<p-table
    #dt
    [value]="videos"
    dataKey="title"
    selectionMode="single"
    [rows]="15"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[15,25,50]"
    [loading]="loading"
    styleClass="p-datatable-usuarios p-datatable-gridlines"
    [paginator]="true"
    [scrollable]="scrollable" scrollDirection="both"
    currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} videos"
    [globalFilterFields]="['title', 'teacher', 'course.name', 'filename' ,'views', 'publication_date']">

    <!-- Tabla header -->
    <ng-template pTemplate="caption">
        <div class="tabla-header">
            <!-- Agregar Video -->
            <button
                pButton
                icon="pi pi-plus-circle"
                iconPos="right"
                type="button"
                class="p-button-raised"
                label="Agregar Video"
                routerLink="../subir/videos">
            </button>

            <!-- Buscador -->
            <span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input
                    class="p-inputtext p-component"
                    pInputText
                    type="text"
                    (input)="applyFilterGlobal($event, 'contains')"
                    placeholder="Buscar video" />
            </span>
        </div>
    </ng-template>


    <ng-template pTemplate="header">
        <tr>

            <th pSortableColumn="title" style="width: 250px">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Título
                    <p-sortIcon field="title"></p-sortIcon>
                </div>
            </th>

            <th style="width: 200px">
                <div>
                    Imagen
                </div>
            </th>

            <th pSortableColumn="url" style="width: 400px">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Enlace de Youtube
                    <p-sortIcon field="url"></p-sortIcon>
                </div>
            </th>

            <th pSortableColumn="course.name" style="width: 250px">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Materia
                    <p-sortIcon field="course.name"></p-sortIcon>
                </div>
            </th>

            <th pSortableColumn="publication_date" style="width: 200px">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Fecha de publicación
                    <p-sortIcon field="publication_date"></p-sortIcon>
                </div>
            </th>

            <th pSortableColumn="video.keywords" style="width: 200px">
              <div class="p-d-flex p-jc-between p-ai-center">
                  Palabras Clave
                  <p-sortIcon field="video.keywords"></p-sortIcon>
              </div>
            </th>

            <th style="width: 200px">Acciones</th>

        </tr>

    </ng-template>
    <ng-template pTemplate="body" let-video>
        <tr>
            <td style="width: 250px">
                {{video.title}}
            </td>
            <td class="tabla-imagen">
                <img [src]="video.photo_url" [alt]="video.file">
            </td>

            <td style="width: 400px">
                {{video.url}}
            </td>
            <td style="width: 250px">
                {{video.course?.name}}
            </td>
            <td style="width: 200px">
                {{video.publication_date?.toDate() | date:'dd/MM/yyyy h:mm:ss a' }}
            </td>

            <td style="width: 200px">
              {{video.keywords | space }}
            </td>

            <td style="width: 200px">

                <div class="acciones">

                    <!-- Botón de previsualización -->
                    <button
                        pButton
                        icon="pi pi-video"
                        iconPos="right"
                        type="button"
                        (click)="openModal(video.url)"
                        class="p-button-raised p-button-rounded p-button-warning previsualizacion">
                    </button>

                    <!-- Botón de editar -->
                    <button
                        pButton
                        icon="pi pi-pencil"
                        iconPos="right"
                        type="button"
                        [routerLink]="['../editar/video', video.id]"
                        class="p-button-raised p-button-rounded">
                    </button>

                    <!-- Botón de eliminar -->
                    <button
                        pButton
                        icon="pi pi-trash"
                        iconPos="right"
                        type="button"
                        (click)="eliminarVideo(video)"
                        class="p-button-raised p-button-rounded p-button-danger">
                    </button>
                </div>
            </td>

        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td class="sin-videos" colspan="8">Ningún video encontrado.</td>
        </tr>
    </ng-template>
</p-table>
