mat-form-field {
  margin-bottom: 0.5rem;
  display: block;
}

.tabla-header {
  display: block;
}

.tabla-header button, .tabla-header span, .tabla-header span input {
  width: 100%;
}

.tabla-header button {
  margin-bottom: 0.5rem;
}

@media (min-width: 600px){
  .tabla-header {
      display: flex;
      justify-content: space-between;
  }
  .tabla-header button, .tabla-header span, .tabla-header span input {
      width: initial;
  }

  .tabla-header button {
      margin-bottom: 0;
  }
}

.acciones {
  display: flex;
  justify-content: center;
}

.acciones button{
  margin-right: 0.5rem;
}

.acciones button:last-child{
  margin-right: 0;
}

.previsualizacion, .previsualizacion:hover {
  color: #FFFFFF !important;
}

.sin-videos {
  width: 100%;
  text-align: center !important;
}

.tabla-imagen {
  width: 100%;
}

.tabla-imagen img{
  object-fit: cover;
  aspect-ratio: 16/9;
  width: 200px;
}

.imagen img {
  height: 200px;
  width: 100%;
  border-radius: 5px;
}
