.Modal{
  background-color: #f1f2f3;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  border: 2px solid black;

 }
 .conte_pref{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 1px;
 }
 p {
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .preferencias-div {
     background-color:white;
     border-radius: 5px;
     padding: 10px;
     margin-bottom: 5px;
     cursor: pointer;
     border-color: black;
     margin-left: 10px;
     border-radius: 10px;
     margin-right: 10px;
     text-align: center;
     border: 2px solid black;
   }

   .selected {
     background-color: rgb(203, 242, 119,0.7);
   }

   .preferencias-div:hover {
     background-color: rgb(211, 245, 137,0.5);
   }

 .titulo{
   text-align: center;
   color: #00345e;
 }
 .botonCerrar{
   background-color: var(--primario);
   color: var(--blanco);
   margin-left: 30px;
   border: none;
   border-radius: 5px;
   padding: 5px;
   margin-top: 10px;
   margin-left: 30%;
   margin-bottom: 20px;

 }
