<div class="Modal">
  <div class="modal_body">
    <h3 class="titulo">Modifica tus preferencias</h3>
    <p>Selecciona las preferencias que te interesan</p>
    <div class="conte_pref">
      <div class="preferencias-div" *ngFor="let preferencia of preferencias" (click)="togglePreference(preferencia)"
        [ngClass]="{'selected-preference': isSelected(preferencia), 'selected': isSelected(preferencia)}">
        {{ preferencia }}
      </div>
    </div>
  </div>

  <button (click)="guardarPreferencias()" type="button" (click)="closeModal()" class="botonCerrar">
    Guardar y Cerrar
  </button>
</div>
