.breadcrumb {
    background-image:url('/assets/videos/breadcrumb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: center;
}

.title {
    border-left: 5px solid var(--blanco);
}

.title p {
    font-size: 2rem;
    font-weight: 500;
    color: #FFFFFF;
    padding-left: 1.5rem;
}

.buscador {
    max-width: 25rem;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #CDCDCD;
    margin: 2rem 0;
    padding-bottom: 0.5rem;
}

.buscador input, .buscador input:focus  {
    background-color: transparent;
    border: none;
    outline: none;
    
}

.buscador mat-icon {
    color: #797979;
}

.resultados {
    background-color: var(--blanco);
    border: 1px solid #c7c7c7;
    padding: 2rem;
    margin-bottom: 1.5rem;
}

.resultados h5 {
    font-weight: bold;
    margin-bottom: 1rem;
}

.listado {
    list-style: none;
    padding: 0;
}

.listado li {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    cursor: pointer;
    border-bottom: 1px solid #cdcdcd;
}

.listado li:last-child {
    border-bottom: none;
}

.listado li mat-icon {
    margin-right: 0.5rem;
}