.register {
  width: 100%;
  height: 100%;
}

@media (min-width:992px){
  .flex-end {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  }
}
/* Estilos para el contenido del modal */
.model {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  z-index: 9999;
  border-radius: 10px;
  height: auto;
}
.breadcrumb {
  background-image:url('/assets/videos/breadcrumb.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
}

.title {
  border-left: 5px solid var(--blanco);
}

.title p {
  font-size: 2rem;
  font-weight: 500;
  color: #FFFFFF;
  padding-left: 1.5rem;
}

.logo img{
  width: 100%;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

@media (min-width:768px){
  .formulario {
      padding: 1.5rem var(--separacion);
  }
}

.titulo {
  color: var(--primario);
  font-size: 1.8rem;
  padding: 1rem 0;
  margin: 0;
}

@media (min-width:768px){
  .titulo {
      font-size: 2.5rem;
  }
}

.formulario-form {
  width: 100%;
}

.foto-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagen {
  width: 150px;
  height: 150px;

}

.imagen img {
  width: 100%;
  border-radius: 50%;
}

.custom-file {
  margin: 1rem 0;
}

.campo, .custom-select {
  margin-bottom: 1rem;
}

.campo input, .custom-select select {
  display: block;
  width: 100%;
  border: 1px solid var(--gris-bordes);
  border-radius: 10px;
  margin-top: 1rem 0;
  padding: 0.3rem 0.5rem;
}

.campo input:focus, .custom-select select:focus {
  outline: none !important;
  border:2px solid var(--primario);
}

@media (min-width:992px){
  .campo input, .custom-select {
      width: 25rem;
  }
}

.label{
  color: var(--primario);
  font-weight: 300;
  margin: 0;
}

.boton {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.boton-submit {
  background-color: var(--primario);
  color: var(--blanco);
  margin-left: 30px;
}

.boton-submit mat-icon {
  color: var(--blanco);
}
.boton-modal{
  background-color: var(--primario);
  color: var(--blanco);
  border-radius: 5px;
  border: none;
  padding: 5px;
  display: flex;
}
.boton-modal mat-icon {
  color: var(--blanco);
  margin-left: 2px;
}
.formulario-footer {
  margin-top: 3rem;
  display: block;
  color: var(--blanco);
  font-weight: bold;
}

@media (min-width : 768px) {
  .formulario-footer {
      display: flex;
  }
}

.login {
  cursor: pointer;
}

@media (min-width : 768px) {
  .login {
      margin-left: 0;
  }
}

.text-error {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.5rem;
  margin: 0.3rem 0 0 0;
}

.porcentaje {
  max-width: 30rem;
  width: 100%;
}

.loading {
  display: flex;
}

.loading p {
  margin: 0;
  margin-right: 0.5rem;
}

:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
  animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes custom-progress-spinner-color {
  100%,
  0% {
      stroke: #16697A;
  }
  40% {
      stroke: #489FB5;
  }
  66% {
      stroke: #82C0CC;
  }
  80%,
  90% {
      stroke: #16697A;
  }
}

@keyframes custom-progress-spinner-dash {
  0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
  }
  50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
  }
  100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
  }
}
