.footer {
    background: var(--gradiente1);
    background: -moz-linear-gradient(top,  var(--gradiente1) 0%, var(--gradiente2) 100%); 
    background: -webkit-linear-gradient(top,  var(--gradiente1) 0%,var(--gradiente2) 100%);
    background: linear-gradient(to bottom,  var(--gradiente1) 0%,var(--gradiente2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3c1d2', endColorstr='#bebfcd',GradientType=0 );
    color: #292929;
}

p {
    margin: 0;
}

.container {
    padding: 1.5rem 0;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

@media (min-width:768px){
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.header {
    display: inline-block;
    color: var(--primario);
    font-weight: 500;
    font-size: 1.2rem;
    border-bottom: 5px solid var(--primario);
}

.header p {
    margin-right: 1.5rem;
}

.logo {
    display: grid;
    place-items: center;
}

.logo img {
    width: 70%;
    padding: 3rem;
}

.listado {
    list-style: none;
    padding: 0;
}

.listado-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem 0;
    cursor: pointer;
    font-size: 0.8rem;
}

.links li:hover {
    color: var(--primario);
    transform: translateX(10px); 
    transition: ease 0.3s;
}

.copyright {
    background-color: var(--primario);
    color: var(--blanco);
    text-align: center;
}

