<app-header></app-header>
<main class="breadcrumb">
    <div class="container">
        <div class="title">
        <p>Sobre Nosotros</p>
        </div>
        <app-breadcrumb></app-breadcrumb>
    </div>
</main>
<div class="container">
    <div class="w-75 mx-auto py-5">
      <div class="titulo">
        <h5>Pizarra Lighboard</h5>
      </div>
      <div class="w-75 mx-auto py-4">
        <iframe width="100%" height="400" src="https://www.youtube.com/embed/F3PsF7MXre8" title="UTPL PLAY / Crea contenido práctico en nuestra Pizarra Lighboard" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="titulo">
        <h5>Chroma Key</h5>
      </div>
      <div class="w-75 mx-auto py-4">
        <iframe width="100%" height="400" src="https://www.youtube.com/embed/tithJ0Wr6hA" title="UTPL PLAY / Crea contenido expositivo y explicativo con el Chroma Key" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="titulo">
        <h5>Powtoon</h5>
      </div>
      <div class="w-75 mx-auto py-4">
        <iframe width="100%" height="400" src="https://www.youtube.com/embed/lcH8A1YfGdA" title="UTPL PLAY / Crea recursos animados en Powtoon" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
</div>

<app-footer></app-footer>
